body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.table_row_active {
  font-weight: bold;
}

.icon {
  font-size: 22px;
  cursor: pointer;
}

.icon:hover {
  color: #fd3d3d
}

.icon_disabled {
  color: gray;
  cursor: not-allowed;
}

.icon_disabled:hover {
  color: gray;
}
